# This file specifies files that are *not* uploaded to Google Cloud
# using gcloud. It follows the same syntax as .gitignore
.gcloudignore
.git
.gitignore

# Exclude source and config, we upload compiled lib
src
tsconfig.json
firebase.json
firestore

# Exclude node_modules, cloud installs keys
node_modules

# Ensure lib is uploaded (it was ignored previously)
!lib
